body {
  background-color: #2e3b4e;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.container {
  background-color: #1f2a3a;
  padding: 15px;
  border-radius: 10px;
}

h1 {
  color: yellow;
  margin: 0.2em;
}

#listeners {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
